@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.car-item {
    margin: 1rem;
}

.flex-container {
    display: table;
    /* justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
}

.btn-return {
    background-color: rgb(50, 187, 187);
}

.btn-delete {
    background-color: rgb(156, 74, 233);
}

.btn-update {
    background-color: cornflowerblue;
}

.btn-return:hover, 
.btn-delete:hover,
.btn-update:hover {
    color: rgb(241, 81, 81);
}

tr {
    text-align: left;
}

table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    min-width: 130px;
}

.select-user {
    margin-top: 0;
    margin-bottom: 30px;
}

.button-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}