.flex-container {
    display: table;
    justify-content: center;
    align-items: center;
}




@media (max-width: 500px) {
    .flex-container {
        display: flex;
    }
    .table-container {
        width: auto;
        overflow: auto;
    }
}